version: "3.9"

services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    environment:
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
    command: "-jar DynamoDBLocal.jar -sharedDb"
    volumes:
      - ./dynamodb_data:/home/dynamodblocal/data

